[submodule "ocaml"]
	path = ocaml
	url = git@github.com:ocaml/ocaml.git
[submodule "duniverse"]
	path = duniverse
	url = git@github.com:ocamllabs/duniverse.git
[submodule "opam-repository"]
	path = opam-repository
	url = git@github.com:ocaml/opam-repository.git
[submodule "opam"]
	path = opam
	url = git@github.com:ocaml/opam.git
